<div *ngIf="!isLoading" class="h-full flex flex-col overflow-hidden">
    <div class="p-4 sm:px-4 px-2 flex-1 overflow-y-auto">
        <div class="flex gap-4 md:flex-row flex-col">
            <div class="card bg-base-100 w-full">
                <div class="card-body justify-between">
                    <div class="flex justify-between mb-4">
                        <div>
                            <h1 class="text-2xl mb-1 font-semibold">{{ 'layout.unit' | t }} {{unit.number}}</h1>
                            <span class="badge-accent badge">{{unit.type | enumLabel: UnitTypeEnum}}</span>
                        </div>

                        <span class="badge badge-soft badge-error font-semibold">
                            <span class="material-icons-outlined !text-sm">person_off</span>
                            {{ 'units.detail.vacant' | t }}
                        </span>
                    </div>

                    <div class="flex gap-4 sm:flex-row flex-col">

                        <div class="bg-base-200 p-4 card w-full">
                            <h1 class="text-base-content/70 mb-2">{{ 'units.detail.floor' | t }}</h1>
                            <div class="flex gap-2">
                                <span class="material-symbols-outlined text-success">layers</span>
                                <span class="text-base font-semibold">{{unit.floor | enumLabel: FloorEnum}}</span>
                            </div>
                        </div>

                        <div class="bg-base-200 p-4 card w-full">
                            <h1 class="text-base-content/70 mb-2">{{ 'units.detail.monthlyValue' | t }}</h1>
                            <div class="flex gap-2">
                                <span class="material-symbols-outlined text-success">attach_money</span>
                                <span class="text-base font-semibold">700,00</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card bg-base-100 md:w-[60%] w-full">
                <div class="card-body">
                    <div class="flex gap-2">
                        <div class="card bg-success p-0.5"></div>
                        <h1 class="font-semibold">{{ 'units.detail.financialSummary' | t }}</h1>
                    </div>

                    <div class="flex justify-between">
                        <h3 class="text-base-content/70">{{ 'units.detail.totalRevenue' | t }}</h3>
                        <h3 class="font-semibold">$ 6,800.00</h3>
                    </div>

                    <div class="flex justify-between">
                        <h3 class="text-base-content/70">{{ 'units.detail.pendingPayments' | t }}</h3>
                        <h3 class="font-semibold">--</h3>
                    </div>

                    <div class="divider"></div>

                    <button type="button" class="btn btn-outline btn-success">{{ 'units.detail.viewHistory' | t
                        }}</button>
                </div>
            </div>
        </div>

        <div class="divider mt-10 mb-8"></div>

        <div class="tabs tabs-lift">

            <label class="tab flex items-center gap-1" (click)="setTab(1)">
                <input type="radio" name="details" checked="checked" />
                <span class="material-icons-outlined !text-base">whatshot</span>
                Tenant
            </label>
            <div class="tab-content border-base-300 gap-4 md:flex-row flex-col"
                [ngClass]="tab == 1 ? '!flex' : 'hidden'">
                <div class="w-full bg-base-100 card !rounded-tl-none">
                    <div class="card-body">

                        <div class="card-title text-xl flex justify-between">
                            <div class="flex items-center gap-2">
                                <span class="material-symbols-outlined !text-3xl">person</span>
                                Current Tenant
                            </div>
                            <button class="btn btn-ghost text-primary hidden sm:flex" type="button"
                                onclick="new_contract.showModal()">
                                <span class="material-symbols-outlined">add</span>Add Tenant</button>
                        </div>

                        <div class="max-w-xs flex flex-col items-center mx-auto">
                            <span class="material-symbols-outlined text-base-100 !text-5xl bg-base-content/20
                                rounded-full p-4 mb-6">
                                person_off
                            </span>

                            <h1 class="text-lg font-semibold">No Active Tenant</h1>

                            <p class="text-base-content/60 mb-6 text-center">This unit is currently vacant. Assign a
                                tenant to start
                                tracking payments and contracts.</p>

                            <button class="btn btn-soft" type="button" onclick="new_contract.showModal()">Assign
                                Tenant</button>
                        </div>

                    </div>


                </div>
            </div>

            <label class="tab flex items-center gap-1" (click)="setTab(2)">
                <input type="radio" name="details" />
                <span class="material-icons-outlined !text-base">info</span>
                Details
            </label>
            <div class="tab-content bg-base-100 border-base-300 p-6">

                <div class="card bg-base-100">
                    <div class="card-body">
                        <div class="card-title text-xl flex justify-between">
                            <div class="flex items-center gap-2">
                                <span class="material-symbols-outlined !text-3xl">star</span>
                                Features & Amenities
                            </div>
                        </div>

                        <div class="grid  gap-4 sm:gap-x-2 grid-cols-2 xl:grid-cols-3"> <button type="button"
                                class="btn btn-outline border-base-content/30">
                                <span class="material-icons-outlined !text-lg">wifi</span>
                                Internet
                            </button>
                            <button type="button" class="btn btn-outline border-base-content/30">
                                <span class="material-icons-outlined !text-lg">ac_unit</span>
                                Coditioning
                            </button>
                            <button type="button" class="btn btn-outline border-base-content/30">
                                <span class="material-icons-outlined !text-lg">local_parking</span>
                                Parking
                            </button>

                            <button type="button" class="btn btn-outline border-base-content/30">
                                <span class="material-icons-outlined !text-lg">kitchen</span>
                                Furnished
                            </button>

                            <button type="button" class="btn btn-dash">
                                <span class="material-icons-outlined !text-lg">add</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <label class="tab flex items-center gap-1" (click)="setTab(3)">
                <input type="radio" name="details" />
                <span class="material-icons-outlined !text-base">build</span>
                Maintence
            </label>
            <div class="tab-content bg-base-100 border-base-300 p-6">Tab content 3</div>

        </div>
    </div>
</div>

<div *ngIf="isLoading" class="h-full flex items-center justify-center flex-1">
    <span class="loading loading-dots loading-xl text-primary"></span>
</div>


<dialog id="new_contract" class="modal" (close)="closeModal()">
    <div class="modal-box w-full p-4 max-w-4xl">

        <div class="sm:p-6 px-0">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeModal()">✕</button>

            <!-- Tenant Information -->
            <div class="flex flex-col gap-2 mb-6 relative">
                <label class="font-semibold">
                    Select Tenant
                </label>
                <app-tenant-autocomplete class="w-full" [tenants]="filteredTenants" [isLoading]="isLoadingTenants"
                    (search)="onSearchTenant($event)" (selected)="onSelectTenant($event)" />
                <span class="opacity-0 absolute left-2 -bottom-5 text-xs text-error" [ngClass]="{'opacity-100': isFieldInvalid(tenantId)}">
                    {{'' | t}}
                </span>
            </div>

            <!-- Rental Period -->
            <div class="flex flex-col gap-4 mb-6">
                <div class="flex w-full gap-6 sm:flex-row flex-col">
                    <div class="w-full flex flex-col gap-2">
                        <label for="" class="ml-1 font-semibold">
                            {{ 'Data Início' | t }}
                        </label>
                        <label class="input w-full validator"
                            [ngClass]="{'border-2 border-error': isFieldInvalid(dateStart)}">
                            <span class="material-symbols-outlined">
                                calendar_check
                            </span>
                            <input type="date" class="validator" required [(ngModel)]="dateStart" />
                        </label>
                    </div>

                    <div class="w-full flex flex-col gap-2">
                        <label for="" class="ml-1 font-semibold">
                            {{ 'Data Fim' | t }}
                        </label>
                        <label class="input w-full validator"
                            [ngClass]="{'border-2 border-error': isFieldInvalid(dateEnd)}">
                            <span class="material-symbols-outlined">
                                calendar_lock
                            </span>
                            <input type="date" class="validator" required [(ngModel)]="dateEnd" />
                        </label>
                    </div>
                </div>
            </div>

            <!-- Payment Details -->
            <div class="flex flex-col gap-4 mb-6">
                <div class="flex w-full gap-6 sm:flex-row flex-col">
                    <div class="w-full flex flex-col gap-2">
                        <label for="" class="ml-1 font-semibold">
                            {{ 'Valor Aluguel' | t }}
                        </label>
                        <label class="input w-full validator"
                            [ngClass]="{'border-2 border-error': isFieldInvalid(rent)}">
                            <span class="material-symbols-outlined">
                                attach_money
                            </span>
                            <input type="number" class="validator" required maxlength="14" [(ngModel)]="rent" />
                        </label>
                    </div>

                    <div class="w-full flex flex-col gap-2">
                        <label for="" class="ml-1 font-semibold">
                            {{ 'Payment Day' | t }}
                        </label>
                        <label class="input w-full validator"
                            [ngClass]="{'border-2 border-error': isFieldInvalid(paymentDay)}">
                            <span class="material-symbols-outlined">
                                event_repeat
                            </span>
                            <input type="number" class="validator" required maxlength="14" [(ngModel)]="paymentDay" />
                        </label>
                    </div>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="modal-action">
                <button type="button" class="btn btn-soft" (click)="closeModal()"
                    [disabled]="isLoadingNewContract">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="submitNewContract()"
                    [disabled]="isLoadingNewContract" [class.loading]="isLoadingNewContract">{{'layout.confirm' |
                    t}}</button>
            </div>

        </div>
    </div>

</dialog>