input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}