<div class="p-4 h-full relative flex flex-col">
  <div class="flex justify-between items-center">
    <div class="w-full flex gap-4">
      <label class="input input-sm">
        <span class="material-symbols-outlined !text-base text-base-content/60">
          search
        </span>
        <input type="search" [(ngModel)]="nameCpf" required placeholder="Search" [disabled]="isLoading"
          (keydown.enter)="searchTenants()" />
      </label>

      <label class="swap">
        <input type="checkbox" [(ngModel)]="active" [disabled]="isLoading" (change)="searchTenants()" />
        <div class="swap-on bg-success text-success-content p-1 px-4 card text-sm font-semibold text-center">
          <span>{{'tenants.active' | t}}</span>
        </div>
        <div class="swap-off bg-base-100 p-1 px-4 card text-sm font-semibold text-center badge-ghost">
          <span>{{'tenants.all' | t}}</span>
        </div>
      </label>
    </div>

    <a (click)='navTo("/tenants/new")' class="btn btn-neutral btn-sm shadow-none hidden sm:flex gap-0 px-4 pl-3">
      <span class="material-symbols-outlined">
        add
      </span>
      {{'common.new' | t}}
    </a>

    <a (click)='navTo("/tenants/new")'
      class="btn btn-circle btn-neutral btn-xl shadow-none sm:hidden flex absolute bottom-3 right-3 z-10"><span
        class="material-symbols-outlined">
        add
      </span>
    </a>
  </div>

  <div *ngIf="isLoading" class="flex h-full flex-1 items-center justify-center">
    <span class="loading loading-dots loading-xl text-primary"></span>
  </div>

  <div *ngIf="!isLoading" class="mt-4 gap-4 overflow-y-auto flex-1">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class="sm:block hidden">Contacts</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngFor="let ten of tenants.items">
          <tr>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="badge-ghost !flex items-center justify-center mask mask-squircle h-12 w-12">
                    <span class="material-icons-round">
                      {{ten.gender == 1 ? 'face': 'face_3'}}
                    </span>
                  </div>
                </div>
                <div>
                  <div class="font-bold truncate">{{ten.firstName}} {{ten.lastName}}</div>
                  <div class="text-sm opacity-50">{{ten.born | date:'dd/MM/yyyy'}}</div>
                </div>
              </div>
            </td>
            <td class="sm:block hidden">
              <a [href]="'https://wa.me/55' + ten.phone" target="_blank" class="hover:link">{{ten.phone | phone}}</a>
              <br />
              {{ten.email}}
            </td>
            <th class="text-end">
              <button (click)='navTo("/tenants/" + ten.id)' class="btn btn-ghost btn-xs">
                <span class="material-icons-round">
                  chevron_right
                </span>
              </button>
            </th>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="w-full" *ngIf="tenants && tenants.totalPages > 1">
    <div class="mx-auto w-fit flex gap-6">
      <div class="join">
        <button class="join-item btn p-0" [disabled]="!tenants.hasPreviousPage"
          (click)="goToPage(tenants.currentPage - 1)">
          <span class="material-symbols-outlined">
            arrow_left
          </span>
        </button>

        <button *ngFor="let page of pageNumbers" class="join-item btn" [class.btn-active]="page === tenants.currentPage"
          (click)="goToPage(page)">
          {{page}}
        </button>

        <button class="join-item btn p-0" [disabled]="!tenants.hasNextPage" (click)="goToPage(tenants.currentPage + 1)">
          <span class="material-symbols-outlined">
            arrow_right
          </span>
        </button>
      </div>
    </div>
  </div>
</div>