<div class="p-4 bg-neutral card rounded-b-[0px] h-56 relative">

    <div
        class="flex items-center justify-center text-primary-content absolute size-28 rounded-full bg-primary -bottom-14 inset-x-0 mx-auto">
        <span class="material-symbols-outlined !text-7xl">
            person
        </span>
    </div>
</div>

<div class="mt-16">
    <h1 class="text-xl font-semibold text-center truncate">{{user?.displayName ? user?.displayName : 'layout.noName' | t}}</h1>
    <p class="text-center text-base-content/60 truncate">{{'profile.admin' | t}}</p>
    <button class="btn btn-ghost" (click)="signOut()">Logout</button>

    <app-language-switcher />

    <app-theme-switcher />
</div>