<select *ngIf="select; else dropdown" class="select select-sm border-0 w-full max-w-xs" [(ngModel)]="selectedTheme"
    (change)="onSelectChange($event)">
    <option disabled value="">{{'layout.selectTheme' | t}}</option>
    <option *ngFor="let theme of themes" [value]="theme">{{ theme }}</option>
</select>

<ng-template #dropdown>
    <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1">
            {{currentTheme$ | async}}
            <svg width="12px" height="12px" class="inline-block h-2 w-2 fill-current opacity-60"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
            </svg>
        </div>
        <ul tabindex="-1" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Default"
                    value="default" [checked]="(currentTheme$ | async) === 'Default'" (change)="setTheme('Default')" />
            </li>
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Retro" value="retro"
                    [checked]="(currentTheme$ | async) === 'Retro'" (change)="setTheme('Retro')" />
            </li>
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Cyberpunk"
                    value="cyberpunk" [checked]="(currentTheme$ | async) === 'Cyberpunk'"
                    (change)="setTheme('Cyberpunk')" />
            </li>
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Valentine"
                    value="valentine" [checked]="(currentTheme$ | async) === 'Valentine'"
                    (change)="setTheme('Valentine')" />
            </li>
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Aqua" value="aqua"
                    [checked]="(currentTheme$ | async) === 'Aqua'" (change)="setTheme('Aqua')" />
            </li>
            <li>
                <input type="radio" name="theme-dropdown"
                    class="theme-controller w-full btn btn-sm btn-ghost justify-start" aria-label="Forest"
                    value="forest" [checked]="(currentTheme$ | async) === 'Forest'" (change)="setTheme('Forest')" />
            </li>
        </ul>
    </div>
</ng-template>